{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <!-- Post Content -->
<div>
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p>{{instance.content}}</p>
          </div>
        </div>
      </div>
        {% if request.user.is_authenticated == is_currentuser %}

         <a href="{% url 'update' article_id=instance.id %}" class="btn btn-outline-info">Update</a>
		<a href="{% url 'delete' article_id=instance.id %}" class="btn btn-outline-danger">Delete</a>
      {% endif %}
<div class="text-left">
 <button class="btn" onclick="like_button()">
	<div id="like-count">{{count}}</div>
	<i id="like-heart" class="fa fa-star {% if liked %}text-warning{% endif %}" aria-hidden="true"></i>
</button>
</div>
    </article>
</div>
<div>
  <p class="card-text">
			  	{% for reply in replys %}
			  		<div class="alert alert-primary">({{reply.timestamp|timesince}}){{reply.request.user}}: {{reply.reply|linebreaks}}</div>
			  	{% endfor %}
			  </p>
			  <p class="card-text">
			  	<form action="{% url 'detail' article_id=instance.id %}" method="POST">
			  		{% csrf_token %}
			  		{{form|crispy}}
			  		<input type="submit" class="btn btn-outline-primary" value="Submit">
			  	</form>
</div>

<script>
	function like_button(){
		$.ajax({
			type:"GET",
			url:"{% url 'likes' article_id=instance.id %}",
			error: function(){
				alert("Something went wrong!")
			},
			success: function(data){
				$("#like-count").text(data.count);
				if(data.action==="like")
				{
					$("#like-heart").addClass("text-warning");
				}
				else
				{
					$("#like-heart").removeClass("text-warning");
				}
			},
		});
	}
</script>
{% endblock content %}