{% extends "base.html" %}

{% block content %}
   	{% if instance.image %}
			<header class="masthead">	
				<div class="overlay">
					<img src="{{instance.image.url}}" alt="Card image cap" height="700" width="1140" />
				</div>
				      <div class="container">
				        <div class="row">
				          <div class="col-lg-8 col-md-10 mx-auto">
				            <div class="post-heading">
				              <h1>{{instance.title}}</h1>
				              <h2 class="subheading">{{instance.sub_heading}}</h2>
				              <span class="meta">Posted by
				                <a href="#">{{instancs.author}}</a>
				                on {{instance.created}}</span>
				            </div>
				          </div>
				        </div>
      					</div>
      			</header>

		{% endif %}


    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p>{{instance.content}}</p>
          </div>
        </div>
      </div>
      <!--     <a href="{% url 'update' article_id=instance.id %}" class="btn btn-outline-info">Update</a>
				    <a href="{% url 'delete' article_id=instance.id %}" class="btn btn-outline-danger">Delete</a>
	-->
    </article>
    </div>
{% endblock content %}