{% extends "base.html" %}

{% block title %}
{% endblock title %}

{% block content %}
	<br>
	<form action="{% url 'list' %}" method="GET">
		<div class="input-group mb-3">
		  <input type="text" class="form-control" placeholder="Search for article..." aria-label="Search" name="q">
		  <div class="input-group-append">
		    <input type="submit" class="input-group-text" value="Search" >
		  </div>
		</div>
	</form>
	<div class="row">
		{% for article in articles %}
			<div class="col-sm-6">
				<div class="card">
					{% if article.image %}
						<img class="card-img-top" src="{{article.image.url}}" alt="Card image cap">		
					{% endif %}
				  <div class="card-body">
				    <h5 class="card-title">{{article.title}}</h5>
				    <h6 class="card-subtitle mb-2 text-muted"> Posted by{{article.author}}</h6>
				    <p class="card-text">{{article.content}}</p>
				    <p class="card-text">{{article.created|timesince}}</p>
				    <p class="card-text">{{article.publish_date|timesince}}</p>
				    
				    <a href="{% url 'update' %}" class="btn btn-outline-info">Update</a>
				    <a href="{% url 'delete' %}" class="btn btn-outline-danger">Delete</a>
				  </div>
				</div>
			</div>
		{% endfor %}
	</div>

{% endblock content %}