
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">Beauitful Blog</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            
             <li class="nav-item">
              <a class="nav-link" href="{% url 'contact' %}">Contact</a>
            </li>
                  {% if request.user.is_authenticated %}

            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>

            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'signin' %}">Signin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
                  {% endif %}

          </ul>
        </div>
      </div>
    </nav>

  {% if request.get_full_path != "/main/home/" %}
        {% if instance.image %}

      <header class="masthead" >  
        <div class="overlay" >
          <img src="{{instance.image.url}}" alt="Card image cap" height="570" width="1140" />
        </div>
              <div class="container">
                <div class="row">
                  <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                      <h1>{{instance.title}}</h1>
                      <h2 class="subheading">{{instance.sub_heading}}</h2>
                      <span class="meta">Posted by
                        <a href="#">{{instancs.author}}</a>
                        on {{instance.created}}</span>
                    </div>
                  </div>
                </div>
                </div>
            </header>

  {% else %}
      <header class="masthead" style="background-image: url('/static/img/contact-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>A Beauiful Blog</h1>
              <span class="subheading">A simple list of Articles</span>
            </div>
          </div>
        </div>
      </div>
    </header>
  {% endif %}
  {% elif request.path != "/main/contact/"%}

       <!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/img/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>A Beauiful Blog</h1>
              <span class="subheading">A simple list of Articles</span>
            </div>
          </div>
        </div>
      </div>
    </header>
  {% elif request.path != "/main/about/" %}
        <!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/img/contact-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>A Beauiful Blog</h1>
              <span class="subheading">A simple list of Articles</span>
            </div>
          </div>
        </div>
      </div>
    </header>
  {% endif %}
